
.pokedex__home-container {
    width: 1024px;
    margin: 0 auto;
    background-color: ghostwhite;
    height: 100vh;
}
.pokedex__banner {
    width: 50%;
    margin: 0 auto;    
}

.pokedex__image {
    padding-top: 120px;
}

.pokedex__footer {
    position: fixed;
    bottom: 0;
    width: 1024px;
}

.pokedex__footer-level-1{
    width: 100%;
    height: 60px;
    background-color: rgb(178, 34, 34);
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.pokedex__footer-level-2{
    width: 100%;
    height: 40px;
    background-color: #000000;
    
}

.pokedex__icon2 {
    position: relative;
    width: 70px;
    height: 70px;
    object-fit: contain;
    top: 30px;   
}

.pokedex__greeting {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color:rgb(178, 34, 34);
}

.pokedex__msg {
    text-align: center;
}

.pokedex__form{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pokedex__input {
    width: 300px;
    padding: 10px;
    border: 0.5px solid #ccc;
    background-color: #fff;
    outline: none;
}

.pokedex__button {
    border: none;
    background-color: rgb(178, 34, 34);
    color: ghostwhite;
    font-weight: bold; 
    padding: 0 10px;
    outline: none;      
}

.pokedex__button:hover {
    background-color: #e77e7e;
    outline: none;
    transition: all 200ms ease-in-out;
}


@media (max-width: 600px) and (max-height: 800px) {
    .pokedex__home-container {
        width: 100%;
        height: 100vh;
        background-color: ghostwhite;
        

    }
    .pokedex__banner {
        width: 70%;
        margin: 0 auto;        
    }
    
    .pokedex__image {
        padding-top: 120px;
    }
    
    .pokedex__greeting {
        text-align: center;
        margin-top: 100px;
        font-weight: bold;
        color:rgb(178, 34, 34);
    }
    
    .pokedex__msg {
        text-align: center;
    }
    
    .pokedex__form{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .pokedex__input {
        width: 190px;
        padding: 10px;
        border: 0.5px solid #ccc;
        background-color: #fff;
        outline: none;
    }
    
    .pokedex__button {
        border: none;
        background-color: rgb(178, 34, 34);
        color: ghostwhite;
        font-weight: bold; 
        padding: 0 10px; 
        outline: none;     
    }
    
    .pokedex__button:hover {
        background-color: #e77e7e;
        outline: none;
    }
    
    .pokedex__footer {
        position: fixed;
        bottom: 0;
        width: 100%;        
    }
    
    .pokedex__footer-level-1{
        width: 100%;
        height: 60px;
        background-color: rgb(178, 34, 34);
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;

    }
    
    .pokedex__footer-level-2{
        width: 100%;
        height: 40px;
        background-color: #000000;
    }
    
    .pokedex__icon2 {
        width: 70px;
        height: 70px;
        object-fit: contain;
        top: 30px;      
    }

  }